<div class="search-bar-native">
  <div id="btn-search" class="relative btn-search">
    <input
      type="text"
      class="w-full py-3 pl-11 pr-3 border-grey-1 md:pt-3 md:pb-2.5 lg:pl-14"
      placeholder="Search for your style...">
    <div class="search-icon-as-placeholder left-3 lg:left-5 center-item-vertically">
      {%- render 'icon' with 'icon-search-bar' -%}
    </div>
  </div>
</div>