.banner-hero {
    position: relative;
    text-align: center;
    color: white;
    line-height: 80px;
}

.banner_desktop {
    width: 100%;
}

.banner_mobile {
    display: none;
}

.banner-hero-content {
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.banner-hero .banner__heading {
    color: white;
    font-weight: 600;
    font-size: 8rem;
    margin-bottom: 0;
}

.banner-hero .banner__buttons {
    margin-top: 40px;
}

.banner-hero .button--secondary {
    font-size: 2rem;
}

@media screen and (max-width: 1440px) {
    .banner-hero {
        line-height: inherit;
    }

    .banner-hero-content {
        font-size: 15px;
    }

    .banner-hero .banner__heading {
        font-size: 4rem;
    }

    .banner-hero .banner__buttons {
        margin-top: 30px;
    }

    .banner-hero .button--secondary {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .banner-hero {
        text-align: left;
    }

    .banner-hero .banner_desktop {
        display: none;
    }

    .banner_mobile {
        display: block;
    }

    .banner-hero-content {
        left: 40%;
    }

    .banner-hero .banner__text {
        line-height: 30px;
    }
}