/*!*********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/components/sections/template-contact-us/template-contact-us.css ***!
  \*********************************************************************************************************************************************************************************************/
.contact-left .input-label {

    font-size: 16px;

    line-height: 24px;

    --tw-text-opacity: 1;

    color: rgba(9, 15, 36, var(--tw-text-opacity))
}

.contact-left select.input {

    font-size: 16px;

    line-height: 24px;

    --tw-text-opacity: 1;

    color: rgba(64, 67, 70, var(--tw-text-opacity))
}


