/*!************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/components/sections/site-footer/footer.css ***!
  \************************************************************************************************************************************************************************/
@media (min-width: 768px) { 
    .footer-top  .column:nth-child(2) { 
        border-right-width: 1px; 
        border-left-width: 1px; 
        --tw-border-opacity: 1; 
        border-color: rgba(217, 217, 217, var(--tw-border-opacity))
    }
} 
.footer-top  .column:nth-child(1) { 
    padding-right: 0.625rem
} 
@media (min-width: 768px) { 
    .footer-top  .column:nth-child(1) { 
        padding-right: 0px
    }
} 
@media (min-width: 1280px) { 
    .footer-top  .column:nth-child(1) { 
        padding-right: 3rem
    }
} 
.footer-top  .column:nth-child(3) { 
    padding-left: 0.625rem
} 
@media (min-width: 768px) { 
    .footer-top  .column:nth-child(3) { 
        padding-left: 0px
    }
} 
@media (min-width: 1280px) { 
    .footer-top  .column:nth-child(3) { 
        padding-left: 3rem
    }
} 
.sub-menu-footer .sub-menu:nth-child(2) { 
    padding-left: 0.75rem
} 
@media (min-width: 1200px) { 
    .sub-menu-footer .sub-menu:nth-child(3) { 
        padding-left: 1.5rem
    }
} 
.sub-menu-footer .sub-menu:nth-child(4) { 
    padding-left: 2.25rem
} 
.footer-menu .accordion-item:after { 
    opacity: .15
} 
.footer-menu .accordion--default:before { 
    display: inline-block; 
    height: 1px; 
    width: 100%; 
    --tw-bg-opacity: 1; 
    background-color: rgba(9, 15, 36, var(--tw-bg-opacity)); 
    opacity: .15; 
    --tw-content: ''; 
    content: var(--tw-content)
} 
.footer-menu .accordion--default .accordion-item:nth-child(1) .accordion-item-title { 
    margin-top: 0.125rem; 
    padding-top: 1rem
} 
.footer-bottom .face-icon path:nth-child(2) { 
    fill: transparent
} 
.shopify-challenge__container { 
    padding-top: 2.5rem; 
    padding-bottom: 2.5rem
} 
@media (min-width: 768px) { 
    .shopify-challenge__container { 
        padding-top: 5rem; 
        padding-bottom: 5rem
    }
} 
.shopify-challenge__message { 
    margin-bottom: 1rem; 
    font-size: 16px; 
    line-height: 24px
} 
.shopify-challenge__container .g-recaptcha { 
    margin-bottom: 1rem
} 
.shopify-challenge__button { 
    cursor: pointer; 
    border-radius: 0.125rem; 
    --tw-bg-opacity: 1; 
    background-color: rgba(31, 40, 68, var(--tw-bg-opacity)); 
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
    padding-left: 1rem; 
    padding-right: 1rem; 
    font-size: 15px; 
    line-height: 22px; 
    font-weight: 700; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    --tw-text-opacity: 1; 
    color: rgba(255, 255, 255, var(--tw-text-opacity))
} 
@media (hover: hover) and (pointer: fine) { 
    .shopify-challenge__button:hover { 
        --tw-bg-opacity: 1; 
        background-color: rgba(14, 23, 53, var(--tw-bg-opacity))
    }
}
