/*!*********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/components/sections/template-faqs/template-faqs.css ***!
  \*********************************************************************************************************************************************************************************/
.faq-container accordion-dropdown.active .open {

    display: none
}

.faq-container accordion-dropdown.active .close {

    display: block
}

.faq-container accordion-dropdown.active .faq-content {

    margin-top: 1rem
}

.faq-content br {

    margin-top: 0.625rem;

    display: block;

    --tw-content: "";

    content: var(--tw-content)
}

.faq-content p {

    margin-bottom: 0.625rem
}

.faq-content p:last-child {

    margin-bottom: 0px
}

.faq-content strong {

    --tw-text-opacity: 1;

    color: rgba(9, 15, 36, var(--tw-text-opacity))
}

.faq-content ul {

    margin-bottom: 0.625rem;

    list-style-type: disc;

    padding-left: 1rem
}

.faq-content a {

    font-size: 16px;

    line-height: 24px;

    text-decoration-line: underline
}

.faq-content a:hover {

    --tw-text-opacity: 1;

    color: rgba(14, 23, 53, var(--tw-text-opacity))
}

.faq-container .faq-item:first-child accordion-dropdown {

    padding-top: 0px
}
