.training-collection {
    margin: 6%;
}

.training-collection h2 {
    font-size: 3rem;
}

.collection-content {
    margin: 0 auto;
    max-width: var(--page-width);
}

.collection-content .card-wrapper {
    height: 85%;
}

.ajax-button {
    float: right;
    margin-right: 15%;
}

.ajax-button button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.ajax-button svg {
    height: 3.3rem;
    vertical-align: middle;
}

.ajax-button svg:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@media screen and (min-width: 750px) {
    .training-collection {
        margin: 3% 0 0;
    }

    .training-collection h2 {
        font-size: 3.5rem;
        text-align: center;
    }

    .collection-content {
        padding: 0 5rem;
    }

    .collection-content ul {
        row-gap: 1vw;
    }
}